@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Lexend, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {


  /* Button Styles */
  .button-main{
    @apply  text-sm bg-secondary text-white px-4 py-2 rounded focus:outline-none;
  }
  

}

/* Define the keyframes for the blinking effect */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* Apply the animation to the blinking-dot class */
.blinking-dot {
  animation: blink 0.7s infinite;
}



